.alunos {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.alunos li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: cyan;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.inputField:hover {
  background-color: #b6bec2;
}

button {
  font-family: Arial;
  color: #cfd8dc;
  background-color: black;
  border: none;
  padding: .5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
  color: black;
}