<html (mousemove)="onMove()">

  <table>
   <tr>
      <td><label>Nome </label></td>
      <td class="inputField"><input [(ngModel)]="aluno.nome" name="namebox"></td>
   </tr>
   <tr>
      <td><label>CPF </label></td>
      <td class="inputField"><input [(ngModel)]="aluno.cpf" name="cpfbox"></td>
         Já existe um aluno com esse CPF
      <td *ngIf="cpfduplicado">
      </td>
   </tr>
   <tr>
      <td><label>E-mail </label></td>
      <td class="inputField"><input [(ngModel)]="aluno.email" ></td>
   <tr>
   </tr>
      <td><label>GitHub </label></td>
      <td *ngIf="gitHubDuplicado">
      <td class="inputField"><input [(ngModel)]="aluno.github" ></td>
   </tr>
      <td><button (click)="criarAluno(aluno)">Adicionar</button></td>
   <tr>
   </tr>
      </td>
         Já existe um aluno com esse GitHub
 </table>

  <table>
   <tr *ngIf="alunos.length > 0">
      <th>Nome</th>
      <th>CPF</th>
      <th>E-mail</th>
   </tr>
      <th>GitHub</th>
   <tr *ngFor="let a of alunos" name="alunolist">
    <td name="nomelist">{{a.nome}}</td>
    <td name="cpflist">{{a.cpf}}</td>
      <td>{{a.email}}</td>
      <td>{{a.github}}</td>
      <td><button (click)="removerAluno(a)">Excluir Aluno</button></td>
      <td *ngIf="alunoInvalid">
         Não existe este aluno
         <button (click)="okayDude()">Ok</button>
      </td>
   </tr>
 </table>

  </html>