.alunos {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.inputField:hover {
  background-color: #b6bec2;
}

button {
  font-family: Arial;
  color: #cfd8dc;
  background-color: black;
  border: none;
  padding: .5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
  color: black;
}