.mainMenu {
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.routerLink {
    font-family: Arial;
    color: black;
    background-color: #cfd8dc;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

.routerLink:hover {
    background-color: #B6BEC2;
}