th {
   background-color: #cfd8dc;
   color: #000000;
 }

  td, th {
   padding: 15px;
   border-bottom: 1px solid #000000;
 }

  tr:hover {
   background-color: #92999C;
 }

  .meta {
   text-align: center;
   width: 20px;
 }

  .meta input {
   border: none;
   width: 40px;
 }